Diccionario/schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entry" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="word" type="xs:string"/>
              <xs:element name="phonetic" type="xs:string" minOccurs="0"/>
              <xs:element name="language" type="xs:string"/>
              <xs:element name="translations">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="translation" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="language" type="xs:string"/>
                          <xs:element name="word" type="xs:string"/>
                          <xs:element name="phonetic" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="definitions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="definition" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="text" type="xs:string"/>
                          <xs:element name="partOfSpeech" type="xs:string"/>
                          <xs:element name="examples" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="example" type="xs:string" maxOccurs="unbounded"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="synonyms" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="synonym" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="antonyms" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="antonym" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="usage" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="register" type="xs:string" minOccurs="0"/>
                    <xs:element name="context" type="xs:string" minOccurs="0"/>
                    <xs:element name="region" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="etymology" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>